<manifest package="kr.co.darrysea.checker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PermissionCheckerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PermissionCheckerTheme">
        </activity>
    </application>
</manifest>